body {
    background-color: #030303;
    color: rgb(215, 218, 220);
}

.post {
	margin-bottom: 20px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-bottom: 1px black solid;
    margin-top: 20px;
    border: 1px rgb(52, 53, 54) solid;
    border-radius: 4px;
    background-color: rgb(26, 26, 27);
}

.line-break {
	height:12px;
}

h3.post-title {
    margin-bottom: 15px;
}